.navbar.red{
    background-color: red;
    color: red;
}

nav .navbar-nav li a{
    color: white !important;
}

nav .navbar-header a{
    color: white !important;
}

.fontColorNavBar{
    color: white;
}