h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.cardHomeTitle{
  text-align: center;
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #E6E6E6;
  border-radius: 10px;
  margin-top: 75px;
}

.cardResposta{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E6E6E6;
  border-radius: 10px;
  margin-top: 50px;
}

.cardHomeBottom{
  text-align: center;
  padding-top: 50px;
}

.copyRight{
    margin-bottom: 10px;
}