<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
  <div class="container">
    <h1>MARVEL Comics super Fans</h1></br>
    <!--OPCOES E INFORMACOES SOBRE QUADRINHOS-->
    <div class="container"> 
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <a href="characters">
            <div class="cardHomeTitle">
              <h1>Characters</h1>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="comics">
            <div class="cardHomeTitle">
              <h1>Events</h1>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="events">
            <div class="cardHomeTitle">
              <h1>Comics</h1>
            </div>
          </a>
        </div></br>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-6 text-center">
            <a href="quiz">
              <div class="cardHomeTitle">
                <h1>Quiz</h1>
              </div>
            </a>
        </div>
      </div>
     
    </div>
    
    <div class="cardHomeBottom">
      <div class="row">
        <div class="col-sm-4">
          <h2>Heroes</h2>
          <p>Get to know marvel heroes better.</p>
        </div>
        <div class="col-sm-4">
          <h2>History</h2>
          <p>Learn a little more about the story of Marvel's most acclaimed heroes.</p>
       </div>
        <div class="col-sm-4">
          <h2>Comics</h2>
          <p>Discover new things about this great universe.</p>
        </div>
      </div>
   </div>

  <hr>

  <footer>
    <p>© Grupo Pagumu</p>
  </footer>

  </div>
</body>

</html>