<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
  <div class="container">
    <h1>Quiz</h1>
    </br>
    
    <div class="container"> 
        <h3>
            <span th:text="${quiz.pergunta}"/>
        </h3>

        <br>

        <div th:if="${quiz.conteudoIsImage} == true">
            <div class="cardHomeBottom">
                <img th:src="${quiz.conteudo}"/>
            </div>
        </div>
        <div th:if="${quiz.conteudoIsImage} == false">
            <h4>
                <span th:text="${quiz.conteudo}"/>
            </h4>
        </div>
        
        <br>

      <div class="row">
        <div class="col-sm-6 text-center">
            <div class="cardResposta">
                <li th:text="${quiz.respostaCerta}"/>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="cardResposta">
                <li th:text="${quiz.respostasErradas[0]}"/>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6 text-center">
            <div class="cardResposta">
                <li th:text="${quiz.respostasErradas[1]}"/>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="cardResposta">
                <li th:text="${quiz.respostasErradas[2]}"/>
            </div>
        </div>
      </div>
    </div>
    
    <div class="cardHomeBottom">
      <div class="row">
        <div class="col-sm-4">
          <h2>Heroes</h2>
          <p>Get to know marvel heroes better.</p>
        </div>
        <div class="col-sm-4">
          <h2>History</h2>
          <p>Learn a little more about the story of Marvel's most acclaimed heroes.</p>
       </div>
        <div class="col-sm-4">
          <h2>Comics</h2>
          <p>Discover new things about this great universe.</p>
        </div>
      </div>
   </div>

  <hr>

  <footer>
    <p>© Grupo Pagumu</p>
  </footer>

  </div>
</body>

</html>