<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'event-presentation')}">

<body>

  <br>
  <h1 style="color: white;"> Register</h1>
  <br><br>
  <div class="container" style="align-items: center; background-color: brown; width: 50%;">
    <form action="/api/user" method="POST">
      <div class="divCenter">
        <h3 style="color: white;">Login</h1></h3></br>
        <input type="text" name="txtLogin">
      </div></br>
      <div class="divCenter">
        <h3 style="color: white;">Senha</h1></h3></br>
        <input type="password" name="txtSenha">
      </div><br><br>
      <!-- <div class="centerButtons"> -->
        <button type="submit" style="text-align: center;" class="btn btn-warning btnLoginCadastrar">
          Register
        </button></br></br>
      <!-- </div> -->
      <br><br><br>
    </form>
  </div>  
</body>